@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4f4f5;
  --text: #18181b;
  --border: #18181b;
  --hover-bg: #18181b;
  --hover-text: #f4f4f5;
}

[data-theme="dark"] {
  --background: #18181b;
  --text: #f4f4f5;
  --border: #f4f4f5;
  --hover-bg: #4B5563;
  --hover-text: #18181b;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

[data-theme-container] {
  background-color: var(--background);
  color: var(--text);
  fill: var(--text);
  border-color: var(--border);
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.theme-area {
  background-color: var(--background);
  border-color: var(--border);
  fill: var(--text);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-500 {
  transition-duration: 500ms;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

@layer base {
  *, ::before, ::after {
    border-color: transparent;
  }
}

@layer components {
  .border-2 {
    border-width: 2px;
    border-style: solid;
    transition: border-color 0.3s ease;
  }

  .nav-link {
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: background-color 0.3s ease;
  }

  .nav-link:hover {
    background-color: var(--hover-bg);
    color: var(--hover-text)
  }

  @media (min-width: 1024px) {
    .nav-link {
      height: 100%;
    }
  }
}