@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --text: #111827;
  --border: #D1D5DB;
}

[data-theme="dark"] {
  --background: #111827;
  --text: white;
  --border: #4B5563;
}

[data-theme-container] {
  background-color: var(--background);
  color: var(--text);
}

[data-theme-area] {
  background-color: var(--background);
  border-color: var(--border);
}